h1{
    text-align: center;
}
h4{
    text-align: center;
}
.sr{
    color: yellow;
}
img{
    width: 700px;
    size: 123px
}
*{
    box-sizing: border-box;
}
header{
    background-image: url(kek_eg.jpg);
    width: 50%;
    margin: auto;
}
ul{
    background-color: blue;
}